<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    <!-- Link our CSS file -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<!--fragment for navigation and search-->
<header th:fragment="nav">
    <section th:fragment="navigation" class="navbar">
        <div class="container-contact">
            <div class="logo">
                <a href="#" title="Logo">
                    <img src="/images/restaurant-logo.png" alt="Restaurant Logo" class="img-responsive">
                </a>
            </div>
            <span>
            <form th:method="get" >
                <label th:text="#{language}" for="lang"></label>
                <select
                        onchange="this.form.submit()"
                        id="lang"
                        name="lang">
                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                    <option value="de_DE" th:selected="${#locale.toString()} == 'de_DE'">Deutsch</option>
                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                </select>
            </form>
            </span>
            <div class="menu text-right">
                <ul>


                    <li>
                        <div sec:authorize="hasRole('ADMIN')" class="dropdown">
                            <button class="dropbtn">Admin</button>
                            <div class="dropdown-content">
                                <a href="/categories/add">Category add</a>
                                <a href="/products/add">Product add</a>
                                <a href="/items/add">Item add</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/categories">Categories</a>
                    </li>
                    <li>
                        <a href="/items/foods">Foods</a>
                    </li>
                    <li>
                        <a href="/items/drinks">Drinks</a>
                    </li>
                    <li>
                        <a href="/contacts">Contact</a>
                    </li>
                    <li>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/users/login}">Login</a>
                    </li>

                    <li>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/users/register}">Register</a>
                    </li>
                    <li>
                        <a href="@{/users/order}"><img width="30px" high="30px"
                                                       src="https://img.icons8.com/emoji/48/000000/shopping-cart-emoji.png"/></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/users/logout}" th:method="post"><a>
                            <span sec:authorize="isAuthenticated()" th:text="#{greeting}"></span>
                            <th:span sec:authentication="name"></th:span>
                            ! </a>
                            <input class="btn btn-link" type="submit" value="Logout">
                        </form>

                    </li>


                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->


    <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search text-center">
        <div class="container-contact">

            <form action="food-search.html" method="POST">
                <input type="search" name="search" placeholder="Search for Food.." required>
                <input type="submit" name="submit" value="Search" class="btn btn-primary">
            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->
</header>

<!--    category section starts here-->
<section class="categories" th:fragment="categories">
    <div class="container-contact">
        <h2 class="text-center">Explore Menu</h2>

        <a href="/items/foods">
            <div class="box-3 float-container">
                <img src="images/food.jpg" alt="Food" class="img-responsive img-curve">

                <h3 class="float-text text-white">FOOD</h3>
            </div>
        </a>

        <a href="/items/drinks">
            <div class="box-3 float-container">
                <img src="images/drinks.jpg" alt="Drinks" class="img-responsive img-curve">

                <h3 class="float-text text-white">DRINKS</h3>
            </div>
        </a>

        <a href="/items/others">
            <div class="box-3 float-container">
                <img src="images/forks.jpg" alt="Other" class="img-responsive img-curve">

                <h3 class="float-text text-white">OTHER</h3>
            </div>
        </a>

        <div class="clearfix"></div>
    </div>
</section>

<section th:fragment="social" class="social">
    <div class="container-contact text-center">
        <ul>
            <li>
                <a href="https://www.facebook.com/poli.ip.5" target="_blank"><img
                        src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
            </li>
            <li>
                <a href="https://www.instagram.com/poli_md80" target="_blank"><img
                        src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
            </li>
            <li>
                <a href="https://twitter.com/ip_poli" target="_blank"><img
                        src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
            </li>
            <li>
                <a href="mailto: abc@example.com" target="_blank"><img
                        src="https://img.icons8.com/fluency/48/000000/apple-mail.png"/></a>
            </li>
            <li>
                <a href="tel:0888888888"><img src="https://img.icons8.com/fluency/48/000000/ringing-phone.png"/></a>
            </li>
        </ul>
    </div>
</section>


<footer th:fragment="footer" class="footer">
    <div class="container-contact text-center">
        <p><span>&copy</span> Created by <a href="https://github.com/Polina-MD80" target="_blank">Poli IP</a></p>
    </div>
</footer>

</body>
</html>