/* CSS for All */

* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-contact {
    width: 90%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
}

.clearfix {
    clear: both;
    float: none;
}

.checkbox {
    text-align: left;
    child-align: left;
}

a {
    color: #ff6b81;
    text-decoration: none;
}

a:hover {
    color: #e208ab;
}

h3, h2, h1 {
    text-align: center
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn:hover {
    color: white;
    background-color: pink;
}

.btn-primary {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;

}

.btn-primary:hover {
    color: white;
    background-color: #ff4757;
}

.btn-link {
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.btn-link:hover {
    color: #470202;
    cursor: pointer;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo {
    width: 10%;
    float: left;
}

.menu {
    line-height: 10px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.cart:hover {
    color: white;
    background-color: gainsboro;
}


/* CSS for Food SEarch Section */

.food-search {
    background-image: url(../images/search.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;

}


.food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories {
    padding: 4% 0;
}

.error-message {
    color: red;
}

.update-add {
    text-align: center;
    padding: 20px;
    margin: 50px 20px;
    /*border: 2px solid darkred;*/
    /*color: darkslategray;*/
    background: white;
    width: 90%;


}

.food-menu cat {
    padding-top: 10000px;
}

.image-upload {
    text-align: left;

}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu {
    background-color: #ececec;
    padding: 4% 0;
}

.food-menu-box {
    width: 45%;
    height: 300px;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img {
    width: 30%;
    height: 100px;
    float: left;
}

.food-menu-desc {
    width: 50%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 0.8rem;
    color: #747d8c;
}
.select-item{
    float: right;
}
.cat-menu-box{
    width: 45%;
    height: 180px;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}



/* CSS for Social */
.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order {
    width: 50%;
    margin: 0 auto;
}
.order-form{
    background-image: url(../images/bg.jpg);
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label {
    margin-bottom: 1%;
    font-weight: bold;
}

.dropbtn {

    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f56f6f;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: red;
    cursor: pointer;
}
/*CSS for dropdown checkbox*/
.dropdown-check-list {
    display: inline-block;
    background-color: #dddddd;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
    text-align: left;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list.visible .items {
    display: block;
}
/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
    .logo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul {
        text-align: center;
    }

    .food-search input[type="search"] {
        width: 65%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn {
        width: 65%;
        padding: 2%;
    }

    .food-search {
        padding: 10% 0;
    }

    .categories {
        padding: 20% 0;
    }

    h2 {
        margin-bottom: 10%;
    }

    .box-3 {
        width: 100%;
        margin: 4% auto;
    }

    .food-menu {
        padding: 20% 0;
    }

    .food-menu-box, .cat-menu-box {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }

    .food-menu-img {
        width: 40%;
        height: 20%;
        float: right;
    }

    .social {
        padding: 5% 0;
    }

    .order {
        width: 100%;
    }



}
