<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head"></head>

<body>
<!-- Navbar Section Starts Here -->
<header th:replace="fragments/common::navigation"></header>

<section class="update-add" style="background-image: url('https://res.cloudinary.com/dme8kfjih/image/upload/v1636753117/backimage_nouzaj.jpg')">
    <form enctype="multipart/form-data"
          th:object="${categoryAddBindingModel}"
          th:method="post"
          th:action="@{/categories/add}">
        <label>Type category</label><br>
        <input th:field="*{name}"
               name="name"
               text="category name"
               required minlength="1" maxlength="20"
               type="text"
               id="inputName"
               class="form-control"
               aria-describedby="inputNameError">
        <br>
        <label th:for="description">Type description</label><br>
        <textarea th:field="*{description}"
                  name="description"
                  text="description"

                  id="inputDescription"
                  class="form-control"
                  aria-describedby="inputDescriptionError"></textarea>
        <br>
        <label th:for="picture">Upload picture</label><br>
        <div>
            <label for="picture">
            </label>
            <input th:field="*{picture}" type="file" id="picture" name="picture" accept="image/png, image/jpeg"/>
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Add Category</button>

        </div>

    </form>

</section>
<br>


<section th:object="${allCategories}" class="food-menu cat">
    <div class="container-contact">
        <h2 class="text-center">All Categories</h2>

        <div th:each="c: ${allCategories}" th:object="${c}" class="food-menu-box">
            <div class="food-menu-img">
                <img th:src="*{picture.getUrl()}" alt="Picture Not Available" width="40px" height="60px" class="img-responsive img-curve">
            </div>

            <div class="food-menu-desc">
                <h4 th:text="*{name}">Category Name</h4>

                <p th:text="*{description}" class="food-detail">
                    No Description
                </p>
                <br>
                <div class="row">
                    <form  th:method="delete"
                          th:action="@{/categories/delete/{id}(id=*{id})}">
                        <input type="submit" value="Delete Category" class="btn"/>
                    </form>
                    <a th:href="@{/categories/edit/{id}(id = *{id})}" class="btn">Edit Category</a>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>


    </div>

    <p class="text-center">
        <a href="/foods">See All Foods</a>
    </p>
</section>

<footer th:replace="fragments/common::footer"></footer>
<!-- footer Section Ends Here -->

</body>
</html>