<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head"></head>

<body>
<!-- Navbar Section Starts Here -->
<header th:replace="fragments/common::nav"></header>
<!-- fOOD sEARCH Section Ends Here -->


<!-- fOOD MEnu Section Starts Here -->
<section class="food-menu">
    <div class="container-contact">
        <h2 class="text-center">Menu</h2>

        <div th:replace="fragments/common::item_box(${itemsByType})"></div>
        <div th:replace="fragments/common::modal_dialog"></div>
    </div>
    <div class="clearfix"></div>

</section>
<!-- fOOD Menu Section Ends Here -->
<section th:replace="fragments/common :: categories"></section>
<!-- Categories Section Ends Here -->

<div class="clearfix"></div>

<!-- social Section Starts Here -->
<section th:replace="fragments/common::social"></section>
<!-- social Section Ends Here -->
<div class="clearfix"></div>
<!-- footer Section Starts Here -->
<footer th:replace="fragments/common::footer"></footer>
<!-- footer Section Ends Here -->
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>

<script type="text/javascript" th:src="@{/js/quantity_control.js}"></script>
</body>
</html>