<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head"></head>

<body>
<style>


</style>
<div class="container-fluid">
    <!-- Navbar Section Starts Here -->
    <nav class="navbar-expand">
        <header th:replace="fragments/common::navigation"></header>
    </nav>

    <section class="update-add"
             style="background-image: url('https://res.cloudinary.com/dme8kfjih/image/upload/v1636753117/backimage_nouzaj.jpg')">
        <form enctype="multipart/form-data"
              th:object="${itemAddBindingModel}"
              th:method="post"
              th:action="@{/items/add}">
            <ul style="list-style-type: none">
                <li>
                    <label>Item name</label><br>
                    <input th:field="*{name}"
                           name="name"
                           text="item name"
                           required minlength="2" maxlength="30"
                           type="text"
                           id="inputName"
                           class="form-control"
                           aria-describedby="inputNameError">
                    <br>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">
                        Invalid name
                    </p>
                </li>
                <li>
                    <label>Item manufacturer</label><br>
                    <input th:field="*{manufacturer}"
                           name="producer"
                           text="category manufacturer"
                           type="text"
                           id="inputManufacturer"
                           class="form-control"
                           aria-describedby="inputManufacturerError">
                    <br>
                </li>
                <li>
                    <div>
                        <label for="type">Type</label>
                        <select th:field="*{type}" id="type" class="custom-select">
                            <option value="" selected>Select type</option>
                            <option th:each="t : ${T(softuni.restaurant.model.entity.enums.TypeEnum).values()}"
                                    th:value="${t}" th:text="${t}">Select level
                            </option>
                        </select>
                        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error-message">
                            Invalid type
                        </p>
                    </div>
                </li>
                <label th:for="description">Item description</label><br>
                <textarea th:field="*{description}"
                          name="description"
                          text="description"
                          id="inputDescription"
                          class="form-control"
                          aria-describedby="inputDescriptionError"></textarea>
                </li>
                <li>
                    <label th:for="picture">Upload picture</label><br>
                    <div>
                        <label for="picture"></label>
                        <input th:field="*{picture}" type="file" id="picture" name="picture"
                               accept="image/png, image/jpeg"/>
                    </div><br>
                </li>
                <li>

                    <div id="list" class="dropdown-check-list" tabindex="100">
                        <span class="anchor" id="one">Select Category</span>
                        <ul class="items">
                            <li th:each="c :${categoriesByName}"><input th:field="*{categories}"
                                       th:text="${c}" th:value="${c}" type="checkbox"/></li>

                        </ul>

                    </div>
                </li>
                <li>
                    <label>Type volume im ml</label><br>
                    <input th:field="*{volume}"
                           name="volume"
                           text="category volume"
                           type="text"
                           id="volume"
                           class="form-control"
                           aria-describedby="inputVolumeError">
                </li>
                <li>
                    <label>Type weight im gr</label><br>
                    <input th:field="*{weight}"
                           name="weight"
                           text="category weight"
                           type="text"
                           id="weight"
                           class="form-control"
                           aria-describedby="inputWeightError">
                </li>
                <li>
                    <div id="list1" class="dropdown-check-list" tabindex="100">
                        <span class="anchor" id="two">Select products</span>
                        <ul class="items">
                            <li th:each="p : ${allProducts}"><input
                                    th:field="*{products}"
                                     th:text="${p}" th:value="${p}" type="checkbox"/>
                            </li>

                        </ul>
                    </div>
                </li>
                <li>
                    <label>Type Price format 99.99</label><br>
                    <input th:field="*{price}"
                           name="price"
                           text="category price"
                           type="text"
                           id="price"
                           class="form-control"
                           aria-describedby="inputPriceError">
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-message">
                        Invalid price
                    </p>
                </li>
                <li>
                    <label>Select if item is available</label>
                    <br>
                    <!--                <input  type="radio"  th:field="*{active}" name="is-active" th:value="1">-->
                    <!--                <label for="yes">YES</label>-->
                    <!--                <input  type="radio" id="NO" name="is-active" value="0" >-->
                    <!--                <label for="NO">NO</label><br>-->

                    <div>
                        <input type="radio" id="yes" th:field="*{active}" name="is-active" th:value="1">
                        <label for="yes" th:checked>Yes</label>
                    </div>

                    <div>
                        <input type="radio" id="no" th:field="*{active}" name="is-not-active" th:value="0">
                        <label for="no">No</label>
                    </div>

                </li>
                <p th:if="${#fields.hasErrors('active')}" th:errors="*{active}" class="error-message">
                    Invalid active
                </p>
            </ul>

            <div>
                <button class="btn btn-primary" type="submit">Add Item</button>

            </div>

        </form>

    </section>
    <br>
    <!--form ens here-->

    <section class="food-menu">
        <div class="container-contact">
            <h2 class="text-center">Menu</h2>

            <div th:each="i : ${allItems}" th:object="${i}" class="food-menu-box">
                <div class="food-menu-img">
                    <img th:src="*{picture.getUrl()}" alt="No Image" class="img-responsive img-curve">
                </div>

                <div class="food-menu-desc">
                    <h4 th:text="*{name}">Food Title</h4>
                    <p class="food-price" th:text="*{price}">$2.3</p>
                    <p class="food-detail" th:text="*{toString()}">
                        Made with Italian Sauce, Chicken, ....
                    </p>
                    <span class="food-detail" th:each="a : ${i.allergens}">
                    <img th:src="${a}" alt="no image" width="20px" high="20px" img>
                </span>
                    <br>

                </div>
            </div>


            <div class="clearfix"></div>


        </div>

        <p class="text-center">
            <a href="/items/foods">See All Foods</a>
        </p>
    </section>
    <footer th:replace="fragments/common::footer"></footer>

</div>
<script>
    let checkList1 = document.getElementById('list1');
    checkList1.getElementsByClassName('anchor')[0].onclick = function (evt) {
        if (checkList1.classList.contains('visible'))
            checkList1.classList.remove('visible');
        else
            checkList1.classList.add('visible');
    }
</script>

<script>
    let checkList = document.getElementById('list');
    checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
        if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
        else
            checkList.classList.add('visible');
    }
</script>


</body>
</html>