<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common-terminal::terminal-head"></head>
<body>

<div class="container-fluid">
  <div th:replace="fragments/common-terminal::terminal_nav"></div>
  <div class="p-3 text-center " >
    <h4>All products</h4>
    <a th:href="@{/terminal/products/add}">Create new products</a>
  </div>

<!--  <div th:if="${success != null}" th:text="${success}" class="alert alert-success text-center"></div>-->


    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <div th:if="${success != null}" th:text="${success}" class="alert alert-success text-center"></div>
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Alergens</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="p : ${allProducts}" th:object="${p}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{allergens}"></td>


        <td><a class="fas fa-edit fa-2x icon-green" th:href="@{'/terminal/products/edit/' + ${p.id}}"></a> &nbsp
          <a>
            <form th:method="delete" th:action="@{'/terminal/products/delete/' + ${p.id}}">
              <button class="fas fa-trash fa-times p-2  rounded" type="submit"></button>
            </form>
          </a></td>
      </tr>
      </tbody>

    </table>
  </div>
<p class="text-center p-3">
  <a href="/items">See All Items in Restaurant site</a>
</p>

<footer th:replace="fragments/common::footer"></footer>


</body>
</html>