<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-terminal :: terminal-head"></head>

<body>
<nav class="navbar-expand">
    <header th:replace="fragments/common-terminal :: terminal_nav"></header>
</nav>

    <div>
        <h4 class="p-3 text-center">Manage products</h4>
    </div>


        <form style="max-width: 700px; margin: 0 auto"
              th:object="${productAddBindingModel}"
              th:method="post"
              th:action="@{/terminal/products/add}">


            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Product name: </label>
                    <div class="col-sm-8 p-1">
                        <input class="form-control" type="text" th:field="*{name}" required minlength="4"
                               maxlength="20">
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">
                            Invalid name
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Allergens: </label>
                    <div class="col-sm-8">
                        <th:block th:each="allergen : ${allergens}">
                            <input type="checkbox" th:field="*{allergens}"
                                   th:text="${allergen.name}"
                                   th:value="${allergen.id}"
                                   class="m-2"/><br>
                        </th:block>
                    </div>
                </div>


                <div>
                    <input type="submit" value="Save" class="btn btn-primary m-3">
                    <input type="button" id="cancelBtn" value="Cancel" class="btn btn-secondary">
                </div>

            </div>
        </form>





    <p class="text-center">
        <a href="/terminal/items">See All Items</a>
    </p>


<footer th:replace="fragments/common::footer"></footer>
<!-- footer Section Ends Here -->
<script>$(document).ready(function () {
    $("#cancelBtn").on("click", function () {
        window.location = "[[@{/terminal/products}]]";
    });
});
</script>
</body>
</html>