<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/common::navigation"></header>
<div class="container-contact">
    <form sec:authorize="!isAuthenticated()" th:action="@{/users/register}" th:method="post" th:object="${userModel}">
        <div class="container-contact beforesignin">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="username"><b>Username</b></label><br>
            <input th:field="*{username}" type="text" placeholder="Enter Username" style="text-align: center"
                   name="username" id="username" class=required>
            <span class="asterisk_input">  </span>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message">
                Invalid username or password.
            </p>
            <br>
            <label for="email"><b>Email</b></label><br>
            <input th:field="*{email}" type="text" placeholder="Enter Email" style="text-align: center" name="email"
                   id="email" required>
            <span class="asterisk_input">  </span>
            <br>
            <label for="psw"><b>Password</b></label><br>
            <input th:field="*{password}" type="password" placeholder="Enter Password" style="text-align: center"
                   name="password" id="psw" required>
            <span class="asterisk_input">  </span>
            <br>
            <label for="psw-repeat"><b>Repeat Password</b></label><br>
            <input th:field="*{confirmPassword}" type="password" placeholder="Repeat Password"
                   style="text-align: center" name="psw-repeat" id="psw-repeat" required>
            <span class="asterisk_input">  </span>
            <br>
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

            <button type="submit" class="registerbtn">Register</button>
        </div>
        <div class="container-contact signin" style="background-color:#f1f1f1">
            <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>
            <!--    //TODO-->
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>

        <div class="container-contact signin">
            <p>Already have an account? <a href="/users/login">login</a>.</p>
        </div>
    </form>
    <div class="clearfix"></div>
</div>
<section th:replace="fragments/common::social"></section>
<!-- social Section Ends Here -->
<div class="clearfix"></div>
<!-- footer Section Starts Here -->
<footer th:replace="fragments/common::footer"></footer>
<!-- footer Section Ends Here -->
</body>
</html>
