<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/common-terminal::terminal-head"></head>
<body>
<div th:replace="fragments/common-terminal::terminal_nav"></div>
<div class="table-striped table-bordered table-responsive-xl p-3">
    <div class="p-3 text-danger">
        <H4>Statistics: </H4>
    </div>
    <table>
    <thead>
    <tr>
        <th>Total requests</th>
        <th>Anonymous requests</th>
        <th>Authorized requests</th>
        <th>Orders count</th>
    </tr>
    </thead>
    <tbody id="stats-container"></tbody>
</table>
</div>
<footer th:replace="fragments/common::footer"></footer>
<script>

    $(document).ready(function showStats() {
        fetch("http://localhost:8080/terminal/stats-call")
            .then(response => response.json())
            .then(stat => {
                let tableRow = '<tr>' +
                    '<td>' + stat.totalRequests + '</td>' +
                    '<td>' + stat.anonRequests + '</td>' +
                    '<td>' + stat.authRequests + '</td>' +
                    '<td>' + stat.orders + '</td>'
                    + '</tr>';

                $("#stats-container").append(tableRow)
            });
    });
</script>
</body>
</html>