<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/common-terminal::terminal-head"></head>
<body>

<div class="container-fluid">
    <div th:replace="fragments/common-terminal::terminal_nav"></div>
    <div class="table table-responsive-xl table-striped table-bordered">
        <H4>Terminal (orders) </H4>
        <table>
            <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>