<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head"></head>

<body>
<!-- Navbar Section Starts Here -->
<header th:replace="fragments/common::navigation"></header>

<section class="update-add" style="background-image: url('https://res.cloudinary.com/dme8kfjih/image/upload/v1636753117/backimage_nouzaj.jpg')">
    <form
            th:object="${productUpdateBindingModel}"
            th:method="patch" th:action="@{/products/edit/{id}(id=*{id})}">
        <label>Type Product</label><br>
        <input th:field="*{name}"
               name="name"
               text="product name"
               required minlength="2" maxlength="20"
               type="text"
               id="inputName"
               aria-describedby="inputNameError">
        <br>

        <table>
            <label  for="allergens">Allergens:</label><br>
            <tr class="checkbox" th:field="*{allergens}"
                th:each="a : ${T(softuni.restaurant.model.entity.enums.AllergenEnumName).values()}">
                <input
                        th:text="${a} + ' ' + ' ' + ' '" th:value="${a}"
                        type="checkbox" name="allergen" id="allergens"
                        text="Allergen" >
                <br>
            </tr>
        </table>

        <div>
            <button class="btn btn-primary" type="submit">Update Product</button>
        </div>


    </form>

</section>
<br>
</body>
</html>