<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common-terminal::terminal-head"></head>

<body>
<div th:replace="fragments/common-terminal::terminal_nav"></div>
<div >
    <h4 class="text-center">Manage users/ New User</h4>

    <form th:action="@{/terminal/save-user}" th:method="post" th:object="${user}"
          style="max-width: 700px; margin: 0 auto"
          onsubmit="return checkUsernameUnique(this);">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3 ">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Username: </label>
                <div class="col-sm-8 p-1">
                    <input class="form-control" type="text" th:field="*{username}" required minlength="4"
                           maxlength="20">
                </div>

                <label class="col-sm-4 col-form-label">E-mail: </label>
                <div class="col-sm-8 p-1">
                    <input class="form-control" type="email" th:field="*{email}" required minlength="7"
                           maxlength="128">
                </div>

                <label class="col-sm-4 col-form-label">Password: </label>
                <div class="col-sm-8 p-1">
                    <input th:if="${user.id == null}" class="form-control" type="password" th:field="*{password}"
                           required minlength="4"
                           maxlength="20">
                    <input th:unless="${user.id == null}" class="form-control" type="password" th:field="*{password}"
                           minlength="4"
                           maxlength="20">
                </div>


                <label class="col-sm-4 col-form-label">Type: </label>
                <div class="col-sm-8 p-1">
                    <select th:field="*{role}">
                        <option value="" selected>Select role</option>
                        <option th:each="t : ${T(softuni.restaurant.model.entity.enums.RoleEnum).values()}"
                                th:value="${t}" th:text="${t}">Select level
                        </option>
                    </select>
                </div>


                <label class="col-sm-4 col-form-label">Is active: </label>
                <div class="col-sm-8 p-1">
                    <input type="checkbox" th:field="*{active}">
                </div>

                <div>
                    <input type="submit" value="Save" class="btn btn-primary m-3">
                    <input type="button" id="cancelBtn" value="Cancel" class="btn btn-secondary">
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/common-terminal :: modal_dialog"></div>
<footer th:replace="fragments/common::footer"></footer>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cancelBtn").on("click", function () {
            window.location = "[[@{/terminal/users}]]";
        });
    });

    function checkUsernameUnique(form) {
        url = "[[@{/terminal/check-username}]]"
        userName = $("#username").val();
        userId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();

        params = {id: userId, username: userName, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicated") {
                showWarningModal("There is another user having the username " + userName);
            } else {
                showErrorModal("Unknown response from server");
            }
        }).fail(function () {
            showErrorModal("Could not connect to the server");
        });

        return false;

    }

</script>
<script th:src="@{/js/common_modal.js}"></script>

</body>
</html>